<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>meetingroom</display-name>
  <servlet>
        <!-- Servlet 名称 -->
        <servlet-name>MeetingRoomServlet</servlet-name>
        <!-- Servlet 类的全路径 -->
        <servlet-class>com.sun.api.MeetingRoomServlet</servlet-class>
    </servlet>
    <!-- Servlet 映射 -->
    <servlet-mapping>
        <!-- 对应的 Servlet 名称 -->
        <servlet-name>MeetingRoomServlet</servlet-name>
        <!-- URL 映射路径 -->
        <url-pattern>/api/meetingrooms</url-pattern>
    </servlet-mapping>
</web-app>